@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  z-index: 11000;
}

:root {
  --background-color-theme: #fff; /* Default value */
  --text-color-theme: #1d232a; /* Default value */
  --PaperBg-color-theme: #2a323c;
  --InputBgcolor-color-theme: #2a323c;
}

body {
  font-weight: 400;
  background-color: var(--background-color-theme);
  color: var(--text-color-theme);
}

bodyfont {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

input {
  background-color: var(--InputBgcolor-color-theme);
}

.Paper_Contents {
  background-color: var(--PaperBg-color-theme);
  /* margin: 1px; */
  padding: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
